/.IdIdrefDescriptionLabelProvider.java._trace
/.IdIdrefDescriptionLabelProvider.xtendbin
/.IdIdrefLabelProvider.java._trace
/.IdIdrefLabelProvider.xtendbin
/IdIdrefDescriptionLabelProvider.java
/IdIdrefLabelProvider.java
